body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24564 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:25px;
  width:185px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24565 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:67px;
  width:598px;
  height:16px;
  display:flex;
}
#u24565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24566 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:144px;
  width:74px;
  height:32px;
  display:flex;
}
#u24566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24567 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:226px;
  width:170px;
  height:34px;
  display:flex;
}
#u24567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u24568 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:391px;
  width:170px;
  height:41px;
  display:flex;
}
#u24568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24569 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:176px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24569_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u24569_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u24569_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24570 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:260px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24570_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u24570_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:18px;
}
#u24570_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24571 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:490px;
  width:197px;
  height:38px;
  display:flex;
}
#u24571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u24572 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:588px;
  width:170px;
  height:34px;
  display:flex;
}
#u24572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24573 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:432px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24573_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:161px;
}
#u24573_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:146px;
  width:18px;
  height:18px;
}
#u24573_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24574 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:432px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24574_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:16px;
}
#u24574_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:6px;
  width:407px;
  height:10px;
}
#u24574_seg2 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:6px;
  width:10px;
  height:52px;
}
#u24574_seg3 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:48px;
  width:18px;
  height:18px;
}
#u24574_text {
  border-width:0px;
  position:absolute;
  left:166px;
  top:3px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24575 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:309px;
  width:170px;
  height:34px;
  display:flex;
}
#u24575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24576 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:343px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24576_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u24576_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u24576_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24577 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:528px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24577_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:47px;
}
#u24577_seg1 {
  border-width:0px;
  position:absolute;
  left:-402px;
  top:37px;
  width:407px;
  height:10px;
}
#u24577_seg2 {
  border-width:0px;
  position:absolute;
  left:-402px;
  top:37px;
  width:10px;
  height:23px;
}
#u24577_seg3 {
  border-width:0px;
  position:absolute;
  left:-406px;
  top:50px;
  width:18px;
  height:18px;
}
#u24577_text {
  border-width:0px;
  position:absolute;
  left:-236px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u24578 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:700px;
  width:170px;
  height:34px;
  display:flex;
}
#u24578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24579 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:643px;
  width:197px;
  height:38px;
  display:flex;
}
#u24579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24580 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:605px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24580_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:393px;
  height:10px;
}
#u24580_seg1 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:-5px;
  width:10px;
  height:43px;
}
#u24580_seg2 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:28px;
  width:18px;
  height:18px;
}
#u24580_text {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24581 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:622px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24581_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:83px;
}
#u24581_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:68px;
  width:18px;
  height:18px;
}
#u24581_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24582 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:822px;
  width:170px;
  height:34px;
  display:flex;
}
#u24582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24583 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:734px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24583_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:93px;
}
#u24583_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:78px;
  width:18px;
  height:18px;
}
#u24583_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24584 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:681px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24584_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:163px;
}
#u24584_seg1 {
  border-width:0px;
  position:absolute;
  left:-388px;
  top:153px;
  width:393px;
  height:10px;
}
#u24584_seg2 {
  border-width:0px;
  position:absolute;
  left:-396px;
  top:149px;
  width:18px;
  height:18px;
}
#u24584_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:150px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24585 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:717px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24585_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:252px;
  height:10px;
}
#u24585_seg1 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:-5px;
  width:10px;
  height:103px;
}
#u24585_seg2 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:88px;
  width:342px;
  height:10px;
}
#u24585_seg3 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:88px;
  width:10px;
  height:17px;
}
#u24585_seg4 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:95px;
  width:18px;
  height:18px;
}
#u24585_text {
  border-width:0px;
  position:absolute;
  left:195px;
  top:79px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24586 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:643px;
  width:197px;
  height:38px;
  display:flex;
}
#u24586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24587 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:605px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24587_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:995px;
  height:10px;
}
#u24587_seg1 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:-5px;
  width:10px;
  height:43px;
}
#u24587_seg2 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:28px;
  width:18px;
  height:18px;
}
#u24587_text {
  border-width:0px;
  position:absolute;
  left:464px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24588 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:681px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24588_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:163px;
}
#u24588_seg1 {
  border-width:0px;
  position:absolute;
  left:-990px;
  top:153px;
  width:995px;
  height:10px;
}
#u24588_seg2 {
  border-width:0px;
  position:absolute;
  left:-998px;
  top:149px;
  width:18px;
  height:18px;
}
#u24588_text {
  border-width:0px;
  position:absolute;
  left:-466px;
  top:150px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24589 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:920px;
  width:170px;
  height:34px;
  display:flex;
}
#u24589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24590 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:856px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24590_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u24590_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:18px;
}
#u24590_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24591 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:997px;
  width:74px;
  height:32px;
  display:flex;
}
#u24591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24592 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:954px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24592_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u24592_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:18px;
}
#u24592_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24593 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1117px;
  width:598px;
  height:16px;
  display:flex;
}
#u24593 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24594 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1167px;
  width:74px;
  height:32px;
  display:flex;
}
#u24594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24595 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1249px;
  width:170px;
  height:34px;
  display:flex;
}
#u24595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24596 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1199px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24596_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u24596_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u24596_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u24597 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1329px;
  width:170px;
  height:41px;
  display:flex;
}
#u24597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24598 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1283px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24598_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u24598_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:18px;
}
#u24598_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
}
#u24599 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1450px;
  width:170px;
  height:34px;
  display:flex;
}
#u24599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24600 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1370px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24600_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u24600_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:70px;
  width:18px;
  height:18px;
}
#u24600_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24601 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:1333px;
  width:170px;
  height:34px;
  display:flex;
}
#u24601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24602 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1350px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24602_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:123px;
  height:10px;
}
#u24602_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-9px;
  width:18px;
  height:18px;
}
#u24602_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24603 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1367px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24603_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:105px;
}
#u24603_seg1 {
  border-width:0px;
  position:absolute;
  left:-203px;
  top:95px;
  width:208px;
  height:10px;
}
#u24603_seg2 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:91px;
  width:18px;
  height:18px;
}
#u24603_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24604 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:1571px;
  width:170px;
  height:34px;
  display:flex;
}
#u24604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24605 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1571px;
  width:170px;
  height:34px;
  display:flex;
}
#u24605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24606 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1484px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24606_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:15px;
}
#u24606_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:5px;
  width:83px;
  height:10px;
}
#u24606_seg2 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:5px;
  width:10px;
  height:82px;
}
#u24606_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:77px;
  width:18px;
  height:18px;
}
#u24606_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24607 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1484px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24607_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:13px;
}
#u24607_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:3px;
  width:207px;
  height:10px;
}
#u24607_seg2 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:3px;
  width:10px;
  height:84px;
}
#u24607_seg3 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:77px;
  width:18px;
  height:18px;
}
#u24607_text {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24608 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1692px;
  width:74px;
  height:32px;
  display:flex;
}
#u24608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24609 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1605px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24609_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u24609_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:70px;
  width:83px;
  height:10px;
}
#u24609_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:70px;
  width:10px;
  height:17px;
}
#u24609_seg3 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:77px;
  width:18px;
  height:18px;
}
#u24609_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24610 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1605px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24610_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u24610_seg1 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:70px;
  width:207px;
  height:10px;
}
#u24610_seg2 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:70px;
  width:10px;
  height:17px;
}
#u24610_seg3 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:77px;
  width:18px;
  height:18px;
}
#u24610_text {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24611 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1822px;
  width:598px;
  height:16px;
  display:flex;
}
#u24611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24612 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1860px;
  width:74px;
  height:32px;
  display:flex;
}
#u24612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24613 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1948px;
  width:170px;
  height:34px;
  display:flex;
}
#u24613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24614 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1892px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24614_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u24614_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:18px;
}
#u24614_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u24615 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:2058px;
  width:170px;
  height:41px;
  display:flex;
}
#u24615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24616 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1982px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24616_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:81px;
}
#u24616_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:66px;
  width:18px;
  height:18px;
}
#u24616_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24617 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:2153px;
  width:170px;
  height:34px;
  display:flex;
}
#u24617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24618 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:2099px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24618_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:59px;
}
#u24618_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:18px;
}
#u24618_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24619 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:2350px;
  width:74px;
  height:32px;
  display:flex;
}
#u24619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24620 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:2256px;
  width:170px;
  height:34px;
  display:flex;
}
#u24620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24621 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:2187px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24621_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:74px;
}
#u24621_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:59px;
  width:18px;
  height:18px;
}
#u24621_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24622 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:2290px;
  width:0px;
  height:0px;
  color:#666666;
}
#u24622_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u24622_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:50px;
  width:18px;
  height:18px;
}
#u24622_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
