body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:26px;
  width:306px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:65px;
  width:1084px;
  height:206px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  color:#666666;
  text-align:left;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:30px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:401px;
  height:30px;
  color:#666666;
  text-align:left;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:397px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:30px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:0px;
  width:576px;
  height:30px;
  color:#666666;
  text-align:left;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:572px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:72px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:72px;
  text-align:left;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:103px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:72px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:30px;
  width:401px;
  height:72px;
  color:#666666;
  text-align:left;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:397px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:72px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:30px;
  width:576px;
  height:72px;
  color:#666666;
  text-align:left;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:572px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:104px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:107px;
  height:104px;
  text-align:left;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:103px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:104px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:102px;
  width:401px;
  height:104px;
  color:#666666;
  text-align:left;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:397px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:104px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:102px;
  width:576px;
  height:104px;
  color:#666666;
  text-align:left;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:572px;
  word-wrap:break-word;
}
