body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:1920px;
  height:64px;
  display:flex;
  font-size:16px;
}
#u24549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u24551 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:7px;
  width:156px;
  height:64px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u24551 .text {
  position:absolute;
  align-self:center;
  padding:0px 28px 0px 64px;
  box-sizing:border-box;
  width:100%;
}
#u24551_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u24552 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:6px;
  width:120px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u24552 .text {
  position:absolute;
  align-self:center;
  padding:0px 28px 0px 28px;
  box-sizing:border-box;
  width:100%;
}
#u24552_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24553 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:6px;
  width:133px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24553 .text {
  position:absolute;
  align-self:center;
  padding:0px 28px 0px 28px;
  box-sizing:border-box;
  width:100%;
}
#u24553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24554 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:6px;
  width:133px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24554 .text {
  position:absolute;
  align-self:center;
  padding:0px 28px 0px 28px;
  box-sizing:border-box;
  width:100%;
}
#u24554_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24555 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:6px;
  width:120px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24555 .text {
  position:absolute;
  align-self:center;
  padding:0px 28px 0px 28px;
  box-sizing:border-box;
  width:100%;
}
#u24555_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24556 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:6px;
  width:149px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u24556 .text {
  position:absolute;
  align-self:center;
  padding:0px 28px 0px 28px;
  box-sizing:border-box;
  width:100%;
}
#u24556_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24557 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:30px;
  width:287px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24558 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:278px;
  width:189px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u24558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:52px;
  background:inherit;
  background-color:rgba(38, 154, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24559 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:204px;
  width:1104px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u24559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24560 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:278px;
  width:189px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u24560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24561 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:278px;
  width:189px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u24561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:52px;
  background:inherit;
  background-color:rgba(38, 154, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24562 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:508px;
  width:1104px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u24562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24563 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:278px;
  width:189px;
  height:52px;
  display:flex;
  color:#FFFFFF;
}
#u24563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
